.outline_box {
    display: flex;
    border-radius: 3px;
    border-color: gray;
    border-style: solid;
    width: 550px;
    height: 560px;
    border-width: 1px;

    margin-left: 5px;

}

.mycolor_title {
    display: flex;
    margin-left: 20px;
}

.calendar{
    display: flex;
    flex: content;
    margin-left: 20px;
}