.outline_box {
    display: flex;
    border-radius: 3px;
    border-color: gray;
    border-style: solid;
    width: 550px;
    height: 560px;
    border-width: 1px;

    margin-left: 5px;

    flex-direction: column;

}


.mystory_title {
    display: flex;
    margin-left: 20px;
}

.write_story {
    display : flex;
    flex-direction : column;
    margin : 10px 20px 20px 20px;
}

.input_story {
    display:flex;
    width: 500px;
    border-color : #f5f5f5;
}

.input_button {
    display : flex;
    width : 70px;
    align-self : flex-end;
    margin : 6px 0px 10px auto;
    border-color: #ffffff;
    border-style: ridge;
    border-radius : 3px;
}

.uploaded_story {
    margin: auto 20px 10px 20px;
}

