.eachStroy {
    border-style: none;
    border-radius: 3px;
    background: hsl(0, 0%, 95%);
    padding: 16px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button1, .button2 {
    border-color: #ffffff;
    border-style: ridge;
    border-radius : 3px;
}